<% @title = "Все подборки" %>

<div class="b">
	<% @collections.each do |collection| %>
		<%= link_to(collection.name, :controller => 'videos', :action => 'collection', :id => collection.id) %>
		<%= collection.videos.size %> 
		<span class="small_text">
			<%= link_to("х", :controller => 'videos', :action => 'remove_collection', :id => collection.id) %>
		</span>
		<br />
	<% end %>
</div>