<div class="title">
	Admin Menu
</div>

	<div class="b">
		Привет, <%= session[:username] %>
	</div>
	<div class="container">
		<%= link_to("Видео", :controller => 'videos') %>	<hr />
		<%= link_to("Подборки", controller: 'collections') %>	<hr />
		<%= link_to("Админы", {:controller => 'admin_users', :action => 'list'}) %>
	</div>

