<%= form_for(:item, :url => {:action => 'update', :id => @item.id, :section => @item.section}) do |f| %>

<div class="b">
	<%= render(:partial => 'shared/news_form', :locals => {:f => f}) %>
</div>

	<%= submit_tag("Добавить") %>
<% end %>