<%= form_for(:news, :url => {:action => 'create'}) do |f| %>

<div class="b">
	<%= render(:partial => 'shared/news_form', :locals => {:f => f}) %>

	Категория: <%= @category.name %> <br />
	<%= submit_tag("Добавить") %>
</div>
<% end %>

