<% provide(:title, @genre.title) %>

<% if @films.any? %>
	<div class="a">
		<ul class="list-films">
			<% @films.each do |film| %>
				<li>
					<%= image_tag film.cover.preview.url %>
					<%= link_to film.title, film_path(film.permalink) %>
					<%= link_to film.description, film_path(film.permalink) %>
				</li>
			<% end %>
		</ul>
	</div>
	<%= will_paginate @films, previous_label: "", next_label: "", class: "b" %>
<% else %>
	<div class="a">
		Пусто
	</div>
<% end %>
