<% provide(:title, "Рекламные ссылки") %>

<%= link_to "Добавить ссылку", new_admin_link_path %> <br />

<% if @links.any? %>
	<% @links.each do |link| %>
		<% if link.active? %>
			<span class="active">
				<%= link_to link.title, edit_admin_link_path(link) %>
			</span>
		<% else %>
				<%= link_to link.title, edit_admin_link_path(link) %>
		<% end %>
	<% end %>

	<%= will_paginate @links, next_label: "", previous_label: "" %>
<% end %>	