<% provide(:title, "Рекламные ссылки") %>

<%= link_to "Добавить ссылку", new_admin_link_path %> <br />

<% if @links.any? %>
	<% @links.each do |link| %>
			<%= link_to link.title, edit_admin_link_path(link) %> <br />
			<span class="amount">переходов <%= link.amount %></span>
	<% end %>

	<%= will_paginate @links, next_label: "", previous_label: "" %>
<% end %>	