<% @title = "Бесплатное видео для мобильных" %>

<% unless @collections.empty? %>
	<div class="title">
		Классные подборки
	</div>
	<div class="a">
		<%  @collections.each do |collection| %>
			<%= link_to(collection.name, { controller: 'public/videos', :action => 'collection', :collection_id => collection.id })  %> <br />
		<% end %>
	</div>
<% end %>

<div class="title">
	Жанры
</div>
<div class="a">
	<% @categories.each do |category| %>

		<%= link_to(category.name, :action => 'category', :id => category.id) %>
		<span class="small_text">
			<%= category.videos.size %>
		</span>
		<% unless category == @categories.last %>
			<hr /> 
		<% end %>

	<% end %>
</div>

<% if Rails.env.development? %>
	development
<% else %>
	<img src="http://c.waplog.net/334067.cnt" alt="waplog">
<% end %>