<div class="title">
	Admin Menu
</div>

	<div class="b">
		Привет, <%= session[:username] %>
	</div>
	<div class="a">
		<%= link_to("Видео", {:controller => 'videos'}) %>	<hr />
		<%= link_to("Админы", {:controller => 'admin_users', :action => 'list'}) %>
	</div>

<div class="foot">
	<%= link_to("Выход", :controller => 'access', :action => 'logout') %>
</div>

