<div class="row">
	<div class="span8 offset2">
		<% @subscribtions.each do |subcribtion| %>
			<div class="subscribtion">
				<%= link_to subcribtion.subscribable.name, "" %>
			</div>
		<% end %>
	</div>
</div>