<%= render partial: 'shared/videos/search' %>

<% if @videos.any? %>
	<% @videos.each do |video| %>
		<div class="b">
				<%= image_tag video.image, width: "150" %> <br />
				<%= link_to video.name, video_path(video.video_id, keywords: params[:keywords]) %>
				<span class="time">
					<%= video.time %>
				</span>
		</div>
	<% end %>
<% end %>
