<div class="title">
	Создать категорию
</div>

<%= form_for(:category, :url => {:action => 'create_category'}) do |f| %>
	<div class="a">
	<%= render(:partial => 'shared/category_form', :locals => {:f => f}) %>

	<%= submit_tag("Создать") %>
</div>
<% end %>

