<div class="title">
	Создать видео подборку
</div>

<%= form_for(:collection, :url => {:action => 'create_collection'}) do |f| %>
	<div class="a">
	<%= render(:partial => 'shared/collection_form', :locals => {:f => f}) %>

	<%= submit_tag("Создать") %>
</div>
<% end %>

