<% provide(:title, @file.film.title + " скачать бесплатно") %>

	<% if @file.film.blocked? %>
		<div class="b">
			Скачивание фильма заблокировано правообладателем
		</div>
	<% else %>

	<div class="b">
		<%= link_to "Скачать", film_file_download_path(@file.id) %>
		<%= number_to_human_size(@file.size) %>
	</div>

	<div class="title">
			Скачать частями
	</div>

	<div class="a">
		<% @parts.sort_by!(&:num).each do |part|  %>
			<%= link_to "Скачать", film_file_part_path(part.id) %> <%= number_to_human_size(part.size) %> <br />
		<% end %>
	</div>
<% end %>

<% film = Struct.new(:title, :url) %>
<% genre = Struct.new(:title, :url) %>
<% @footer_links = [] %>
<% @footer_links << film.new(@file.film.title, film_url(@file.film)) %>
<% @footer_links << genre.new(@file.film.genres.last.title.mb_chars.capitalize, film_genre_url(@file.film.genres.last)) %>