<% unless @news.empty? %>
	<div class="b">
		<% @news.each do |item| %>
			<%= link_to(translate_type(item.section) + ": " + item.description, action: 'destroy', id: item.id) %> <%= link_to("x", action: 'destroy', id: item.id, section: @section) %><br />
			<span class="small_text">
				от <%= item.updated_at.to_s(:DayMonth) %> 
				<% unless item == News.last %> <hr /> <% end %>
			</span>
		<% end %>
	</div>
<% else %>
	<div class="b">
		Пусто :(
	</div>
<% end %>