<%= form_for(:news, :url => {:action => 'create_news', :section => @news.section}) do |f| %>

<div class="b">
	<%= render(:partial => 'form', :locals => {:f => f}) %>
</div>

	<%= submit_tag("Добавить") %>
<% end %>

