
	<div class="a">
		<%= @item.description %>
	</div>

	<% unless @related_news == [] %>
		<div class="title">
			<%= @item.created_at.to_s(:DayMonth) %> так же обновлены
		</div>
		<div class="a">
			<% @related_news.each do |item| %>
				<%= link_to(translate_type(item.section), :action => 'show', :id => item.id, :section => item.section) %>
			<% end %>
		</div>
	<% end %>