<%= render partial: 'web/shared/search' %>

<div class="row">
	<div class="sixteen columns">
		<% @collections.each do |collection| %>
			<%= link_to collection.name, web_collection_path(collection.permalink) %> <br />
		<% end %>
	</div>
</div>