// Place all the styles related to the admin/collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favourite-collection {
	color: red;
}

.remove-collection {
	color: brown;
	font-size: 0.5em;
}