// Place all the styles related to the Admin/Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* index */
.add-film {
	text-align: center;
	display: block;
	background-color: #9cb1d0;
	margin-bottom: 20px;
	margin-top: 5px;
	color: white;
	label {
			font-size: 1.5em;
	}
	input {
		font-size: 1.5em;
		width: 300px;
		padding: 10px;
		margin: 15px;
		color: #3a4046;
	}
	button[type="submit"] {
		font-size: 1.3em;
		background-color: #aad8b0;
		border: none;
		padding: 10px;
		color: white;
		text-decoration: none;
	}
}

.film {
	text-align: center;	
	background: white;
	margin: 0 0 20px 0;
	border-radius: 10px;
	display: inline-block;
	width: 400px;
	height: 400px;
	// margin: 20px;
	overflow: hidden;
	img {
		float: left;
		padding: 0 0 10px 10px;
	}
	a {
		color: #ff6f69 !important; 
		text-decoration: none !important;
	}
	a:hover {
	color: #f3f2eb !important;
	}
}

.favourite {
	display: inline-block;
	position: relative;
	padding-top: 40px;
	float: right;
}
.favourite-black {
	color: black;
}

.film-title {
	text-transform: uppercase;
}

.film-edit-links i {
	color: #bcd3e7;
}
/* end index */

/* list */
.kinopoisk-film {
	background-color: white;
	text-transform: uppercase;
	padding: 5px;
	margin: 5px;
	text-decoration: none;
}
/* end list */

/* new */
.edit-film {
	margin-top: 10px;
	padding-top: 10px;
	background-color: white;
	input[type="submit"] {

	}
	input#film_title[type="text"] {
		text-align: center;
		width: 50%;
		height: 50px;
		font-size: 1.5em;
	}
	input#film_year[type="text"] {
		width: 20%;
		height: 50px;
		font-size: 1.5em;
	}
	label {
		font-size: 1.5em;
	}
}

/* end new */

/* clear floats */
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear:both;
}
.group {
	zoom: 1;
}
/* !clear floats */