<% provide(:title, "Фильм с кинопоиска") %>

<% if @movies.to_a.any? %>
	<% @movies.each do |movie| %>
		<%= content_tag(:div, class: 'kinopoisk-film') do %>
			<%= link_to movie.title, new_admin_film_path(movie_title: movie.title_en) %>
			<%= movie.year %>
			<br />
		<% end %>
	<% end %>
<% else %>
	<div class="film-not-found">
		Фильмов не найдено
	</div>
<% end %>