<% provide(:title, "Самые свежие новинки") %>

<% if @films.any? %>
	<div class="a">
		<%= render partial: 'public/shared/films', locals: { :films => @films } %>
	</div>
	
	<%= will_paginate @films, next_label: "", previous_label: "", class: 'b' %>
<% else %>
	<div class="a">
		Фильмов нет
	</div>
<% end %>
