<% provide(:title, "Лучшие новинки фильмов") %>


<% if @films.any? %>
	<div class="a">
		<% @films.each do |film| %>
			<%= link_to film.title, film_path(film.permalink) %>
			<span class="mini-downloads">
				<%= film.downloads %>
			</span>
			<% unless film == @films.last %>
			<hr >
			<% end %>
		<% end %>
	</div>

	<%= will_paginate @films, class: "b" %>
<% else %>
	<div class="a">
		Пусто
	</div>
<% end %>
