<% provide(:title, @collection.name) %>

<% if @collection.image.present? %>
	<div class="a">
		<%= image_tag collection.image.preview.url %>
	</div>
<% end %>

<% if @collection.description.present? %>
	<div class="b">
		<%= collection.description %>
	</div>
<% end %>

<% if @collection.tracks.any? %>
	<div class="a">
		<% @collection.tracks.each do |track| %>
			<%= link_to track.name, track_path(track.permalink) %>
		<% end %>
	</div>
<% end %>

<% if @collection.films.any? %>
	<div class="a">
		<% @collection.films.each do |films| %>
			<%= link_to film.title, track_path(film.permalink) %> <br />
		<% end %>
	</div>
<% end %>
