<div class="new-feedback">
	<%= link_to("Написать отзыв", action: 'new', type: 'video') %>
</div>

<div class="a">
	<% if @feedbacks.any? %>
		<% @feedbacks.each do |feedback| %>
			<%= link_to(feedback.name, action: 'show', id: feedback.id )%>
		<% end %>
	<% else %>
		Пусто
	<% end %>
</div>