<div class="new-feedback">
	<%= link_to("Добавить отзыв", action: 'new', type: 'video') %>
</div>

<div class="a">
	<% @feedbacks.each do |feedback| %>
		<%= link_to(feedback.name, action: 'show', id: feedback.id )%>
	<% end %>
</div>