<footer class="footer">
	<small>
		<%= link_to "waprik.ru", "http://waprik.ru" %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "О нас", 	  '#' %></li>
			<li><%= link_to "Контакты", '#' %></li>
			<li><%= link_to "Мы Вконтакте", "http://vk.com/waprik" %></li>
		</ul>
	</nav>
</footer>